.App {
  text-align: left;
}

.Welcome-text {
  color: gray;
  font-size: 25px;
  font-weight:900;
  margin: 40px;
}

.System-text {
  font-size: 20px;
  font-weight: 900;
  margin: 40px;
}

.Cards-position {
  display: flex;
}